.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
    margin:  0 50px;
}

.nav-wrapper {
}

.header-nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}
